{
    "swagger": "2.0",
    "info": {
        "title": "FACTSAPI",
        "version": "",
        "description": "API Endpoints for FACTS SIS"
    },
    "host": "api.factsmgt.com",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "subscription-key",
            "in": "query"
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "paths": {
        "/api/Subscriptions/{subscriptionId}": {
            "get": {
                "description": "Gets Subscription information from cosmos",
                "operationId": "Subscriptions_GetSubscription",
                "summary": "Gets Subscription information from cosmos",
                "tags": [
                    "Subscriptions"
                ],
                "parameters": [
                    {
                        "name": "subscriptionId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ExternalApiApimDocumentDtoArray"
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "id": "string",
                                    "name": "string",
                                    "apiHash": "string",
                                    "subscriptionId": "string",
                                    "districtId": 0,
                                    "schoolId": 0,
                                    "scopes": "string",
                                    "schoolName": "string",
                                    "districtName": "string"
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            }
        },
        "/People/Address": {
            "get": {
                "description": "Gets a list of addresses",
                "operationId": "Address_GetAddresses",
                "summary": "Gets a list of addresses",
                "tags": [
                    "People",
                    "Address"
                ],
                "parameters": [
                    {
                        "name": "Filters",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "Sorts",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "Page",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PagedResultOfAddressVM"
                        },
                        "examples": {
                            "application/json": {
                                "results": [
                                    {
                                        "addressID": 0,
                                        "address1": "string",
                                        "address2": "string",
                                        "city": "string",
                                        "state": "string",
                                        "zip": "string",
                                        "country": "string",
                                        "modifiedBy": 0,
                                        "modifiedDate": "string",
                                        "greeting1": "string",
                                        "greeting2": "string",
                                        "greeting3": "string",
                                        "greeting4": "string",
                                        "greeting5": "string",
                                        "newStudentInquiryID": 0
                                    }
                                ],
                                "currentPage": 0,
                                "pageCount": 0,
                                "pageSize": 0,
                                "rowCount": 0,
                                "nextPage": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Creates a new address",
                "operationId": "Address_CreateAddress",
                "summary": "Creates a new address",
                "tags": [
                    "People",
                    "Address"
                ],
                "parameters": [
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "addressVM",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AddressVM"
                        }
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AddressVM"
                        },
                        "examples": {
                            "application/json": {
                                "addressID": 0,
                                "address1": "string",
                                "address2": "string",
                                "city": "string",
                                "state": "string",
                                "zip": "string",
                                "country": "string",
                                "modifiedBy": 0,
                                "modifiedDate": "string",
                                "greeting1": "string",
                                "greeting2": "string",
                                "greeting3": "string",
                                "greeting4": "string",
                                "greeting5": "string",
                                "newStudentInquiryID": 0
                            }
                        }
                    },
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AddressVM"
                        },
                        "examples": {
                            "application/json": {
                                "addressID": 0,
                                "address1": "string",
                                "address2": "string",
                                "city": "string",
                                "state": "string",
                                "zip": "string",
                                "country": "string",
                                "modifiedBy": 0,
                                "modifiedDate": "string",
                                "greeting1": "string",
                                "greeting2": "string",
                                "greeting3": "string",
                                "greeting4": "string",
                                "greeting5": "string",
                                "newStudentInquiryID": 0
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            }
        },
        "/People/Address/{addressId}": {
            "get": {
                "description": "Gets a single address",
                "operationId": "Address_GetAddressById",
                "summary": "Gets a single address",
                "tags": [
                    "People",
                    "Address"
                ],
                "parameters": [
                    {
                        "name": "addressId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AddressVM"
                        },
                        "examples": {
                            "application/json": {
                                "addressID": 0,
                                "address1": "string",
                                "address2": "string",
                                "city": "string",
                                "state": "string",
                                "zip": "string",
                                "country": "string",
                                "modifiedBy": 0,
                                "modifiedDate": "string",
                                "greeting1": "string",
                                "greeting2": "string",
                                "greeting3": "string",
                                "greeting4": "string",
                                "greeting5": "string",
                                "newStudentInquiryID": 0
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Replaces an address",
                "operationId": "Address_ReplaceAddress",
                "summary": "Replaces an address",
                "tags": [
                    "People",
                    "Address"
                ],
                "parameters": [
                    {
                        "name": "addressId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "addressVM",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AddressVM"
                        }
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AddressVM"
                        },
                        "examples": {
                            "application/json": {
                                "addressID": 0,
                                "address1": "string",
                                "address2": "string",
                                "city": "string",
                                "state": "string",
                                "zip": "string",
                                "country": "string",
                                "modifiedBy": 0,
                                "modifiedDate": "string",
                                "greeting1": "string",
                                "greeting2": "string",
                                "greeting3": "string",
                                "greeting4": "string",
                                "greeting5": "string",
                                "newStudentInquiryID": 0
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Update an address based on the json patch document",
                "operationId": "Address_UpdateAddress",
                "summary": "Update an address based on the json patch document",
                "tags": [
                    "People",
                    "Address"
                ],
                "parameters": [
                    {
                        "name": "addressId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "operation3Array",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Operation3Array"
                        }
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AddressVM"
                        },
                        "examples": {
                            "application/json": {
                                "addressID": 0,
                                "address1": "string",
                                "address2": "string",
                                "city": "string",
                                "state": "string",
                                "zip": "string",
                                "country": "string",
                                "modifiedBy": 0,
                                "modifiedDate": "string",
                                "greeting1": "string",
                                "greeting2": "string",
                                "greeting3": "string",
                                "greeting4": "string",
                                "greeting5": "string",
                                "newStudentInquiryID": 0
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            }
        },
        "/People/Demographic": {
            "get": {
                "description": "Gets a list of people demographic information",
                "operationId": "Demographic_GetPersonDemographics",
                "summary": "Gets a list of people demographic information",
                "tags": [
                    "People",
                    "Demographic"
                ],
                "parameters": [
                    {
                        "name": "Filters",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "Sorts",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "Page",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PagedResultOfPersonDemographicVM"
                        },
                        "examples": {
                            "application/json": {
                                "results": [
                                    {
                                        "personId": 1,
                                        "gender": "female",
                                        "birthdate": "string",
                                        "ethnicity": "string",
                                        "citizenship": "USA",
                                        "maritalStatus": "Married",
                                        "primaryLanguage": "Welsh",
                                        "birthplace": "string",
                                        "birthCity": "Cardiff",
                                        "birthState": "Wales",
                                        "birthCountry": "UK"
                                    }
                                ],
                                "currentPage": 0,
                                "pageCount": 0,
                                "pageSize": 0,
                                "rowCount": 0,
                                "nextPage": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            }
        },
        "/People/{personId}/Demographic": {
            "get": {
                "description": "Get a person's demographic information record",
                "operationId": "Demographic_GetPersonDemographic",
                "summary": "Get a person's demographic information record",
                "tags": [
                    "People",
                    "Demographic"
                ],
                "parameters": [
                    {
                        "name": "personId",
                        "in": "path",
                        "description": "The person id ",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PersonDemographicVM"
                        },
                        "examples": {
                            "application/json": {
                                "personId": 1,
                                "gender": "female",
                                "birthdate": "string",
                                "ethnicity": "string",
                                "citizenship": "USA",
                                "maritalStatus": "Married",
                                "primaryLanguage": "Welsh",
                                "birthplace": "string",
                                "birthCity": "Cardiff",
                                "birthState": "Wales",
                                "birthCountry": "UK"
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Updates a person's demographic information",
                "operationId": "Demographic_UpdatePersonDemographic",
                "summary": "Updates a person's demographic information",
                "tags": [
                    "People",
                    "Demographic"
                ],
                "parameters": [
                    {
                        "name": "personId",
                        "in": "path",
                        "description": "The person id of the person being updated.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "personDemographicVM",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/PersonDemographicVM"
                        },
                        "description": "The person entity with updates. "
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PersonDemographicVM"
                        },
                        "examples": {
                            "application/json": {
                                "personId": 1,
                                "gender": "female",
                                "birthdate": "string",
                                "ethnicity": "string",
                                "citizenship": "USA",
                                "maritalStatus": "Married",
                                "primaryLanguage": "Welsh",
                                "birthplace": "string",
                                "birthCity": "Cardiff",
                                "birthState": "Wales",
                                "birthCountry": "UK"
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Updates a person's demographic information based on the json patch document",
                "operationId": "Demographic_JsonPatchPersonDemographic",
                "summary": "Updates a person's demographic information based on the json patch document",
                "tags": [
                    "People",
                    "Demographic"
                ],
                "parameters": [
                    {
                        "name": "personId",
                        "in": "path",
                        "description": "The person id of the person being patched. ",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "operation3Array",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Operation3Array"
                        },
                        "description": "The patch document with changes "
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PersonDemographicVM"
                        },
                        "examples": {
                            "application/json": {
                                "personId": 1,
                                "gender": "female",
                                "birthdate": "string",
                                "ethnicity": "string",
                                "citizenship": "USA",
                                "maritalStatus": "Married",
                                "primaryLanguage": "Welsh",
                                "birthplace": "string",
                                "birthCity": "Cardiff",
                                "birthState": "Wales",
                                "birthCountry": "UK"
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            }
        },
        "/People/DirectoryPreferences": {
            "get": {
                "description": "Gets a list of people's directory preferences",
                "operationId": "DirectoryPreferences_GetDirectoryPreferences",
                "summary": "Gets a list of people's directory preferences",
                "tags": [
                    "People",
                    "Directory Preferences"
                ],
                "parameters": [
                    {
                        "name": "Filters",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "Sorts",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "Page",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PagedResultOfDirectoryPreferencesVmOut"
                        },
                        "examples": {
                            "application/json": {
                                "results": [
                                    {
                                        "blockName": true,
                                        "blockCellPhone": true,
                                        "blockHomePhone": true,
                                        "blockAddress": true,
                                        "blockEmail": true,
                                        "personId": 0
                                    }
                                ],
                                "currentPage": 0,
                                "pageCount": 0,
                                "pageSize": 0,
                                "rowCount": 0,
                                "nextPage": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            }
        },
        "/People/{personId}/DirectoryPreferences": {
            "get": {
                "description": "Gets a single person's directory preferences information",
                "operationId": "DirectoryPreferences_GetDirectoryPreferencesById",
                "summary": "Gets a single person's directory preferences information",
                "tags": [
                    "People",
                    "Directory Preferences"
                ],
                "parameters": [
                    {
                        "name": "personId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DirectoryPreferencesVmOut"
                        },
                        "examples": {
                            "application/json": {
                                "blockName": true,
                                "blockCellPhone": true,
                                "blockHomePhone": true,
                                "blockAddress": true,
                                "blockEmail": true,
                                "personId": 0
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Replaces a person's directory preferences information",
                "operationId": "DirectoryPreferences_ReplaceDirectoryPreferences",
                "summary": "Replaces a person's directory preferences information",
                "tags": [
                    "People",
                    "Directory Preferences"
                ],
                "parameters": [
                    {
                        "name": "personId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "directoryPreferencesVmIn",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/DirectoryPreferencesVmIn"
                        }
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DirectoryPreferencesVmOut"
                        },
                        "examples": {
                            "application/json": {
                                "blockName": true,
                                "blockCellPhone": true,
                                "blockHomePhone": true,
                                "blockAddress": true,
                                "blockEmail": true,
                                "personId": 0
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Update a person's directory preferences information based on the json patch document",
                "operationId": "DirectoryPreferences_UpdateDirectoryPreferences",
                "summary": "Update a person's directory preferences information based on the json patch document",
                "tags": [
                    "People",
                    "Directory Preferences"
                ],
                "parameters": [
                    {
                        "name": "personId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "operation3Array",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Operation3Array"
                        }
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DirectoryPreferencesVmOut"
                        },
                        "examples": {
                            "application/json": {
                                "blockName": true,
                                "blockCellPhone": true,
                                "blockHomePhone": true,
                                "blockAddress": true,
                                "blockEmail": true,
                                "personId": 0
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            }
        },
        "/Education": {
            "get": {
                "description": "Gets a list of people education information",
                "operationId": "Education_GetPersonEducation",
                "summary": "Gets a list of people education information",
                "tags": [
                    "People",
                    "Education"
                ],
                "parameters": [
                    {
                        "name": "Filters",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "Sorts",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "Page",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PagedResultOfEducationVmOut"
                        },
                        "examples": {
                            "application/json": {
                                "results": [
                                    {
                                        "personId": 0,
                                        "degreeSchool": "Name",
                                        "degreeName": "string",
                                        "degreeYear": 2020,
                                        "educationLevel": 1,
                                        "degreeType": "Associates",
                                        "educationId": 1
                                    }
                                ],
                                "currentPage": 0,
                                "pageCount": 0,
                                "pageSize": 0,
                                "rowCount": 0,
                                "nextPage": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            }
        },
        "/Education/{educationId}": {
            "get": {
                "description": "Get a person's education record",
                "operationId": "Education_GetPersonEducationById",
                "summary": "Get a person's education record",
                "tags": [
                    "People",
                    "Education"
                ],
                "parameters": [
                    {
                        "name": "educationId",
                        "in": "path",
                        "description": "The education record id ",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EducationVmOut"
                        },
                        "examples": {
                            "application/json": {
                                "personId": 0,
                                "degreeSchool": "Name",
                                "degreeName": "string",
                                "degreeYear": 2020,
                                "educationLevel": 1,
                                "degreeType": "Associates",
                                "educationId": 1
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Updates a person's education information",
                "operationId": "Education_ReplacePersonEducation",
                "summary": "Updates a person's education information",
                "tags": [
                    "People",
                    "Education"
                ],
                "parameters": [
                    {
                        "name": "educationId",
                        "in": "path",
                        "description": "The education id of the record being updated.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "educationVmIn",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/EducationVmIn"
                        },
                        "description": "The person entity with updates. "
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EducationVmOut"
                        },
                        "examples": {
                            "application/json": {
                                "personId": 0,
                                "degreeSchool": "Name",
                                "degreeName": "string",
                                "degreeYear": 2020,
                                "educationLevel": 1,
                                "degreeType": "Associates",
                                "educationId": 1
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Updates a person's education information based on the json patch document",
                "operationId": "Education_UpdatePersonEducation",
                "summary": "Updates a person's education information based on the json patch document",
                "tags": [
                    "People",
                    "Education"
                ],
                "parameters": [
                    {
                        "name": "educationId",
                        "in": "path",
                        "description": "The education id of the record being patched. ",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "operation3Array",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Operation3Array"
                        },
                        "description": "The patch document with changes "
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EducationVmOut"
                        },
                        "examples": {
                            "application/json": {
                                "personId": 0,
                                "degreeSchool": "Name",
                                "degreeName": "string",
                                "degreeYear": 2020,
                                "educationLevel": 1,
                                "degreeType": "Associates",
                                "educationId": 1
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            }
        },
        "/People/EmergencyContact": {
            "get": {
                "description": "Gets a list of emergencyContacts",
                "operationId": "EmergencyContact_GetEmergencyContacts",
                "summary": "Gets a list of emergencyContacts",
                "tags": [
                    "People",
                    "Emergency Contact"
                ],
                "parameters": [
                    {
                        "name": "Filters",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "Sorts",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "Page",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PagedResultOfEmergencyContactVM"
                        },
                        "examples": {
                            "application/json": {
                                "results": [
                                    {
                                        "emergencyContactID": 0,
                                        "firstName": "string",
                                        "lastName": "string",
                                        "middleName": "string",
                                        "salutation": "string",
                                        "suffix": "string",
                                        "homePhone": "string",
                                        "cellPhone": "string",
                                        "email": "string",
                                        "relationship": "string",
                                        "workPhone": "string",
                                        "studentID": 0,
                                        "sortOrder": 0,
                                        "refID": 0,
                                        "note": "string",
                                        "countryCode": "string",
                                        "portalSortOrder": 0
                                    }
                                ],
                                "currentPage": 0,
                                "pageCount": 0,
                                "pageSize": 0,
                                "rowCount": 0,
                                "nextPage": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Creates a new emergencyContact",
                "operationId": "EmergencyContact_CreateEmergencyContact",
                "summary": "Creates a new emergencyContact",
                "tags": [
                    "People",
                    "Emergency Contact"
                ],
                "parameters": [
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "emergencyContactVM",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/EmergencyContactVM"
                        }
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EmergencyContactVM"
                        },
                        "examples": {
                            "application/json": {
                                "emergencyContactID": 0,
                                "firstName": "string",
                                "lastName": "string",
                                "middleName": "string",
                                "salutation": "string",
                                "suffix": "string",
                                "homePhone": "string",
                                "cellPhone": "string",
                                "email": "string",
                                "relationship": "string",
                                "workPhone": "string",
                                "studentID": 0,
                                "sortOrder": 0,
                                "refID": 0,
                                "note": "string",
                                "countryCode": "string",
                                "portalSortOrder": 0
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            }
        },
        "/People/EmergencyContact/{emergencyContactId}": {
            "get": {
                "description": "Gets a single emergencyContact",
                "operationId": "EmergencyContact_GetEmergencyContactById",
                "summary": "Gets a single emergencyContact",
                "tags": [
                    "People",
                    "Emergency Contact"
                ],
                "parameters": [
                    {
                        "name": "emergencyContactId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EmergencyContactVM"
                        },
                        "examples": {
                            "application/json": {
                                "emergencyContactID": 0,
                                "firstName": "string",
                                "lastName": "string",
                                "middleName": "string",
                                "salutation": "string",
                                "suffix": "string",
                                "homePhone": "string",
                                "cellPhone": "string",
                                "email": "string",
                                "relationship": "string",
                                "workPhone": "string",
                                "studentID": 0,
                                "sortOrder": 0,
                                "refID": 0,
                                "note": "string",
                                "countryCode": "string",
                                "portalSortOrder": 0
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Replaces an emergencyContact",
                "operationId": "EmergencyContact_ReplaceEmergencyContact",
                "summary": "Replaces an emergencyContact",
                "tags": [
                    "People",
                    "Emergency Contact"
                ],
                "parameters": [
                    {
                        "name": "emergencyContactId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "emergencyContactVM",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/EmergencyContactVM"
                        }
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EmergencyContactVM"
                        },
                        "examples": {
                            "application/json": {
                                "emergencyContactID": 0,
                                "firstName": "string",
                                "lastName": "string",
                                "middleName": "string",
                                "salutation": "string",
                                "suffix": "string",
                                "homePhone": "string",
                                "cellPhone": "string",
                                "email": "string",
                                "relationship": "string",
                                "workPhone": "string",
                                "studentID": 0,
                                "sortOrder": 0,
                                "refID": 0,
                                "note": "string",
                                "countryCode": "string",
                                "portalSortOrder": 0
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Update an emergencyContact based on the json patch document",
                "operationId": "EmergencyContact_UpdateEmergencyContact",
                "summary": "Update an emergencyContact based on the json patch document",
                "tags": [
                    "People",
                    "Emergency Contact"
                ],
                "parameters": [
                    {
                        "name": "emergencyContactId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "operation3Array",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Operation3Array"
                        }
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/EmergencyContactVM"
                        },
                        "examples": {
                            "application/json": {
                                "emergencyContactID": 0,
                                "firstName": "string",
                                "lastName": "string",
                                "middleName": "string",
                                "salutation": "string",
                                "suffix": "string",
                                "homePhone": "string",
                                "cellPhone": "string",
                                "email": "string",
                                "relationship": "string",
                                "workPhone": "string",
                                "studentID": 0,
                                "sortOrder": 0,
                                "refID": 0,
                                "note": "string",
                                "countryCode": "string",
                                "portalSortOrder": 0
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            }
        },
        "/People/ParentAlert": {
            "get": {
                "description": "Gets a list of people parent alert information",
                "operationId": "ParentAlert_GetParentAlert",
                "summary": "Gets a list of people parent alert information",
                "tags": [
                    "People",
                    "Parent Alert"
                ],
                "parameters": [
                    {
                        "name": "Filters",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "Sorts",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "Page",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PagedResultOfParentAlertEntity"
                        },
                        "examples": {
                            "application/json": {
                                "results": [
                                    {
                                        "id": "string",
                                        "personId": 0,
                                        "parentAlertPreference": "string",
                                        "parentAlertHomePhone": true,
                                        "parentAlertCellPhone": true,
                                        "parentAlertWorkPhone": true,
                                        "parentAlertNoText": true
                                    }
                                ],
                                "currentPage": 0,
                                "pageCount": 0,
                                "pageSize": 0,
                                "rowCount": 0,
                                "nextPage": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            }
        },
        "/People/{personId}/ParentAlert": {
            "get": {
                "description": "Get a person's parent alert record",
                "operationId": "ParentAlert_GetParentAlertById",
                "summary": "Get a person's parent alert record",
                "tags": [
                    "People",
                    "Parent Alert"
                ],
                "parameters": [
                    {
                        "name": "personId",
                        "in": "path",
                        "description": "The person id ",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ParentAlertEntity"
                        },
                        "examples": {
                            "application/json": {
                                "id": "string",
                                "personId": 0,
                                "parentAlertPreference": "string",
                                "parentAlertHomePhone": true,
                                "parentAlertCellPhone": true,
                                "parentAlertWorkPhone": true,
                                "parentAlertNoText": true
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Updates a person's parent alert information",
                "operationId": "ParentAlert_UpdateParentAlert",
                "summary": "Updates a person's parent alert information",
                "tags": [
                    "People",
                    "Parent Alert"
                ],
                "parameters": [
                    {
                        "name": "personId",
                        "in": "path",
                        "description": "The person id of the person being updated.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "parentAlertEntity",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ParentAlertEntity"
                        },
                        "description": "The person entity with updates. "
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ParentAlertEntity"
                        },
                        "examples": {
                            "application/json": {
                                "id": "string",
                                "personId": 0,
                                "parentAlertPreference": "string",
                                "parentAlertHomePhone": true,
                                "parentAlertCellPhone": true,
                                "parentAlertWorkPhone": true,
                                "parentAlertNoText": true
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Updates a person's parent alert information based on the json patch document",
                "operationId": "ParentAlert_JsonPatchParentAlert",
                "summary": "Updates a person's parent alert information based on the json patch document",
                "tags": [
                    "People",
                    "Parent Alert"
                ],
                "parameters": [
                    {
                        "name": "personId",
                        "in": "path",
                        "description": "The person id of the person being patched. ",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "operation3Array",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Operation3Array"
                        },
                        "description": "The patch document with changes "
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ParentAlertEntity"
                        },
                        "examples": {
                            "application/json": {
                                "id": "string",
                                "personId": 0,
                                "parentAlertPreference": "string",
                                "parentAlertHomePhone": true,
                                "parentAlertCellPhone": true,
                                "parentAlertWorkPhone": true,
                                "parentAlertNoText": true
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            }
        },
        "/People/ParentStudent": {
            "post": {
                "description": "Creates a new parent student",
                "operationId": "ParentStudent_CreateParentStudent",
                "summary": "Creates a new parent student",
                "tags": [
                    "People",
                    "Parent Student"
                ],
                "parameters": [
                    {
                        "name": "api-version",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "parentStudentVM",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ParentStudentVM"
                        }
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ParentStudentVM"
                        },
                        "examples": {
                            "application/json": {
                                "parentID": 0,
                                "studentID": 0,
                                "custody": true,
                                "correspondence": true,
                                "relationship": "string",
                                "grandparent": true,
                                "emergencyContact": true,
                                "reportCard": true,
                                "pwBlock": true,
                                "pickUp": true,
                                "parentsWeb": true,
                                "reEnroll": true
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "detail": "string",
                                "instance": "string",
                                "extensions": {}
                            }
                        }
                    }
                }
            },
            "get": {
                "description": "Gets a list of parents",
                "operationId": "ParentStudent_GetParentsV1_2",
                "summary": "Gets a list of parents",
                "tags": [
                    "People",
                    "Parent Student"
                ],
                "parameters": [
                    {
                        "name": "includes",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "Filters",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "Sorts",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "Page",
                        "in": "query",
[...]
